@media (max-width: 992px) {

    /* Header section */
    .nav {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .nav-container.lower {
        display: none;
    }

    /* Feature Cards */
    .feat-cards {
        flex-direction: column;
        width: 80%;
        justify-content: center;
    }

    /* Mobile app callout */
    .container.mobile-app {
        flex-direction: column;
    }

    .mobile-app-img {
        order: -1;
        display: flex;
        justify-content: center;
    }

    .mobile-app-text {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* Loan rates */
    .container.loan-rates {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .loan-rates-header {
        width: 100%;
    }

    .rate-card-list {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rate-card {
        max-width: max-content;
    }

    /*INSIGHT SECTION */
    .insight-card-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
    }

    
     /* ABOUT SECTION */

    /* About-Section-3 */
    .about-sec3-text {
        padding-top: 10px;
    }

    .about-sec3-img {
        height: 100%;
    }

    /* Core Values */

    .core-values-img {
        position: relative;
        grid-column: 1/7;
        grid-row: 1;
    }

    .core-values-text {
        grid-column: 1/7;
        grid-row: 2;
    }

    .darken-image {	
        height: 600px;	
    }	
    	
    .text-overlay {	
        height: 600px;	
    }
}


@media (max-width: 576px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    /* Hero Section */
    .hero-buttons {
        flex-direction: column;
    }


    /* Feature Cards */
    .feat-cards {
        width: 100%;
    }

    /* Mobile app callout */
    .container.mobile-app {
        flex-direction: column;
        gap: 1rem;
    }

    .mobile-app-text {
        width: 100%;
    }

    .mobile-app-img {
        order: -1;
    }

    .apple-playstore {
        width: 100%;
        flex-direction: column;
    }

    /* Loan rates */
    .rate-card-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1.5rem;
    }

    .rate-card {
        max-width: 100%;
    }

    /*Insight Section */
    .insight-card-list {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }




     /* ABOUT Page */	

     .about-hero-text {	
        grid-column: 1/4;	
        color: var(--light-text-color);	
        display: flex;	
        flex-direction: column;	
        gap: 1.5rem;	
        max-width: auto;	
        margin-top: auto;	
        margin-bottom: auto;	
    }	


    /* Welcome to the human side of banking */
    
    
    .about-sec3-text {	
        grid-column: 1/7;	
        grid-row: 2;	
        padding-top: 10px;	
    }	
    .about-sec3-img {	
        grid-column: 1/7;	
        grid-row: 1;	
        height: 100%;	
    }


    /* Our Core Values */	


    .core-values-img {	
        grid-column: 1/7;	
        grid-row: 1;	
    }	
    .core-values-text {	
        grid-column: 1/7;	
        grid-row: 2;	
    }	
    .darken-image {	
        height: 400px;	
    }	
    	
    .text-overlay {	
        height: 400px;	
    }

    
    /* Products and Srvices */

    .pdts-and-srvs {
        grid-column: 1/7;
        grid-row: 2;
    }

    .pdts-and-srvs-img {
        grid-column: 1/7;
        grid-row: 1;
    }
    
    .cv-text-icn {
        height: 70px;
        width: 70px;
    }

    .cv-text-icn > img {
        height: 32px;
        width: 32px;
    }

}