@media (max-width: 992px) {
    /* Header section */
    .nav {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .nav-container.lower {
        display: none;
    }

    /* Feature Cards */
    .feat-cards {
        flex-direction: column;
        width: 80%;
        justify-content: center;
    }

    /* Mobile app callout */
    .container.mobile-app {
        flex-direction: column;
    }

    .mobile-app-img {
        order: -1;
        display: flex;
        justify-content: center;
    }

    .mobile-app-text {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* Loan rates */
    .container.loan-rates {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .loan-rates-header {
        width: 100%;
    }

    .rate-card-list {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rate-card {
        max-width: max-content;
    }
}


@media (max-width: 576px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    /* Hero Section */
    .hero-buttons {
        flex-direction: column;
    }


    /* Feature Cards */
    .feat-cards {
        width: 100%;
    }

    /* Mobile app callout */
    .container.mobile-app {
        flex-direction: column;
        gap: 1rem;
    }

    .mobile-app-text {
        width: 100%;
    }

    .mobile-app-img {
        order: -1;
    }

    .apple-playstore {
        width: 100%;
        flex-direction: column;
    }

    /* Loan rates */
    .rate-card-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1.5rem;
    }

    .rate-card {
        max-width: 100%;
    }
    
}