:root {
    /* Color Styles */
    --primary-color: #3F2E3E;
    --dark-bg-color: #2A1F29;
    --dark-bg-color-24: hsla(305, 15%, 14%, 0.24);
    --secondary-color: #EFE1D1;
    --main-bg-color: #F4ECE2;
    --main-bg-color-24: hsla(33, 45%, 92%, 0.24);
    --light-text-color: #F7F0E8;
    --light-text-color-60: hsla(32, 48%, 94%, 0.60);
    --dark-text-color: #0D090C;
    --dark-text-color-60: hsla(315, 18%, 4%, 0.60);
    --dark-text-color-80: hsla(315, 18%, 4%, 0.80);

    /* Text Styles */
    --h1-text-size: 4rem;
    --h2-text-size: 2rem;
    --h3-text-size: 1.5rem;
    --h4-text-size: 1.25rem;
    --body-text-size: 1.125rem;
    --body-sm-text-size: 1rem;
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    /* Box Shadow */
    --main-shadow: 0px 4px 4px 0px rgba(80, 75, 70, 0.3);
}

body {
    font-size: 16px;
    background-color: var(--main-bg-color);
    font-family: 'Cabin', sans-serif;
    color: var(--dark-text-color);
}

h1 {
    font-size: var(--h1-text-size);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: var(--h3-text-size);
    font-weight: var(--fw-bold);
}

h4 {
    font-size: var(--h4-text-size);
    font-weight: var(--fw-bold);
}

h6 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
}

a {
    cursor: pointer;
}

.container {
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    cursor: pointer;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.btn-light {
    padding: 1rem 2.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.btn-dark {
    padding: 1rem 2.5rem;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    /*width: max-content;*/
}

.btn-stroke-light {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.btn-stroke-dark {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border: 1px solid var(--dark-bg-color);
    color: var(--dark-text-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
    align-items: center;
}

.grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 24px;
}

/* LANDING PAGE */

/* NAVIGATION SECTION */
#header {
    background-color: var(--dark-bg-color);
}

.nav-container {
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    height: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-links {
    text-transform: capitalize;
    display: flex;
    gap: 0.5rem;
    font-size: var(--body-text-size);
}

.nav-links li {
    padding: 1rem;
    cursor: pointer;
}

.nav-links li:hover {
    text-decoration: underline;
}

.nav-links li:last-child {
    padding-right: 0;
}

.ham-menu {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

/* Mobile Navigation Menu */
.mobile-navigation-menu {
    display: none;
}

.nav-links.mobile {
    flex-direction: column;
    font-size: 1.5rem;
}

.nav-links.mobile li:last-child {
    padding-right: 1rem;
}

.mobile-nav-close {
    display: flex;
    padding: 1rem 0 1rem 1rem;
    z-index: 5;
    justify-content: flex-end;
}

.big-icon {
    font-size: 2rem;
}

.mobile-close-top {
    background-color: var(--dark-bg-color);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 1rem 2rem;
    top: 0;
}

.links-mobile-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bar {
    display: block;
    height: 2px;
    width: 24px;
    margin-bottom: 6px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.rotate-left {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.3s ease;
}

.opaque {
    opacity: 0;
    transition: all 0.3s ease;
}

.rotate-right {
    transform: translateY(-8px) rotate(-45deg);
    transition: all 0.3s ease;
}


/* HERO SECTION */
#hero {
    background-color: var(--primary-color);
}

.container.hero-section {
    text-align: center;
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 18rem;
    background-image: url('images/credit-cards.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}


/* PRODUCTS & SERVICES */
.container.products {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.service-icon-text {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-icon-text h6 {
    color: var(--primary-color);
    font-size: 1.125rem;
    text-transform: capitalize;
    
}

.title-icon {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.service-img {
    width: 100px;
    height: 100px;
}

.service-img img {
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-header h2 {
    text-transform: capitalize;
}



/* FEATURE CARD SECTION */
.feature-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.feature-card:hover .feature-card-img img {
    transform: scale(1.1);
}

.feature-card-img {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.feature-card-img img {
    width: 100%;
    background-size: cover;
    transition: transform 0.3s ease;
}

.feat-cards {
    display: flex;
    gap: 2rem;
}

.feature-card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0 0 1rem 1rem;
    text-align: start;
    margin-top: -4px;
    height: 50%;
}

.feature-card-text h6 {
    text-transform: uppercase;
}
.feature-card-text h3 {
    text-transform: capitalize;
    margin-bottom: 0.3rem;
}

.container.three-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 4rem;
}






/* ABOUT PAGE */

/* About-Hero Section */

#about-hero {
    background-image: url('images/safe.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.about-hero-text {
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin-top: auto;
    margin-bottom: auto;
}
.about-hero-div {
    height: 500px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

/* Today, we work towards one thing - tomorrow */

.about-sec2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
}

/* Welcome to the human side of banking */

.about-sec3-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1/4;
}

.about-sec3-img {
    grid-column: 4/7;
    height: 300px;
    border-radius: 1rem; 
    overflow: hidden;
}

/* Our Core Values */

.core-values-img {
    position: relative;
    grid-column: 1/4;
}

.darken-image {
    width: 100%;
    height: 780px;
    border-radius: 16px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 780px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: var(--light-text-color);
    border-radius: 1rem;
    padding-top: 4rem;
    padding-left: 1rem;
}

.text-overlay > h3 {
    max-width: 500px;
}

.core-values-text {
    grid-column: 4/7;
}

.cv-text-div {
    margin-top: 40px;
}

.cv-text-icn {
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 8px;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-text-txt {
    grid-column: 2/7;
}

.cv-text-txt > h4 {
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Our Locations */

#our-locations {
    background-color: var(--primary-color);
}

.locations-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    color: var(--light-text-color);
}

.locations-icn {
    height: 100px;
    width: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}



/* MOBILE CALLOUT SECTION */
.list-feat {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.list-feat h6 {
    text-align: start;
}

.list-feat-all {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;
    column-gap: 1rem;
}

.download-button {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem 2rem;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
}

.download-button img {
    width: 48px;
}

.download-text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.download-text p small {
    font-size: 0.8rem;
}

.download-text p:last-child {
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
}

.apple-playstore {
    display: flex;
    gap: 1rem;
}

.mobile-app-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.mobile-app-text div h2 {
    margin-bottom: 1rem;
}

.container.mobile-app {
    display: flex;
    align-items: center;
}



/* LOAN RATES SECTION */
#loan-rates-section {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.rate-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.rate-icon-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rate-icon-header img {
    width: 2rem;
}

.apr-rate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rate-card-list {
    display: flex;
    width: 75%;
    gap: 1rem;
}

.container.loan-rates {
    display: flex;
    gap: 1rem;
}

.loan-rates-header {
    width: 25%;
}


/* INSIGHTS SECTION */
.container.insights {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.insight-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

.insight-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.insight-text .title-icon {
    width: max-content;
}

.insight-img {
    overflow: hidden;
    width: 100%;
}

.insight-img img {
    width: 100%;
}

.insight-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

/* Legal Disclosure Section */
.container.legal {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.legal-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: disc;
    list-style-position: inside;
}

/* Footer Section */
#footer-section {
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

.container.footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-navlinks .nav-links {
    flex-direction: column;
}

.footer-navlinks .nav-links li:first-child {
    padding-top: 0;
}

.footer-navlinks .nav-links li:last-child {
    padding-bottom: 0;
}

.footer-navlinks-columns {
    display: flex;
    gap: 3rem;
    width: 50%;
}

.footer-logo-icons-links {
    display: flex;
    justify-content: space-between;
}

.footer-logo-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-icons {
    display: flex;
    gap: 1rem;
}

.line {
    height: 1px;
    background-color: var(--main-bg-color-24);
    width: 100%;
}

.line small {
    font-size: 0.875rem;
}

.line-copyright {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





/* ABOUT PAGE */

/* About-Hero Section */

#about-hero {
    background-image: url('images/safe.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.about-hero-text {
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin-top: auto;
    margin-bottom: auto;
}
.about-hero-div {
    height: 500px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

/* Today, we work towards one thing - tomorrow */

.about-sec2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
}

/* Welcome to the human side of banking */

.about-sec3-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1/4;
    /* padding-top: 40px; */
}

.about-sec3-img {
    grid-column: 4/7;
}

/* Our Core Values */

.core-values-img {
    position: relative;
    grid-column: 1/4;
}

.darken-image {
    width: 100%;
    height: 780px;
    border-radius: 16px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 780px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: var(--light-text-color);
    border-radius: 1rem;
    padding-top: 4rem;
    padding-left: 1rem;
}

.text-overlay > h3 {
    max-width: 500px;
}

.core-values-text {
    grid-column: 4/7;
}

.cv-text-div {
    margin-top: 40px;
}

.cv-text-icn {
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 8px;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-text-txt {
    grid-column: 2/7;
}

.cv-text-txt > h4 {
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Our Locations */

#our-locations {
    background-color: var(--primary-color);
}

.locations-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    color: var(--light-text-color);
}

.locations-icn {
    height: 100px;
    width: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Products and Srvices */

.pdts-and-srvs {
    grid-column: 1/4;
}

.pdts-and-srvs-text {
    margin-bottom: 24px;
}

.pdts-and-srvs-text p {
    margin-top: 16px;
}

.pdts-and-srvs-img {
    grid-column: 4/7;
}


/* Investment Page */

/* Investment and Wealth*/

#investment {
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
}

.invst-hero-div {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.invst-hero-icns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.invst-hero-img {
    grid-column: 4/7;
    grid-row: 1;
}

.invest-icn {
    width: 100px;
    height: 100px;
}

.invest-icn img {
    width: 100%;
}


/*Plan For Success*/

.small-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    border-radius: 1 rem;
}

.plan-img {
    background-color: var(--primary-color);
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0rem 0rem 1rem;
}

.plan-txt {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 0rem 1rem 1rem 0rem;
    border: 2px solid var(--dark-text-color);
}


/* End Of Cycle */

#end-of-cycle {
    background-image: url(images/Scetion\ 4.png);
    background-position: center;
    background-size: cover;
    height: 650px;
}

.end-of-cycle-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 150px;
}

.end-of-cycle-div h1 {
    color: var(--primary-color);
}








/* SMALL BUSINESSES */
#hero-small-business {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid;
    margin-bottom: 4rem;
}

.hero-small-business-img {
    width: 100%;
    height: 100%;
    background-image: url('images/man-writing.jpg');
    background-size: cover;
}

.hero-header-text {
    padding: 3rem 2rem 2rem 2rem;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-header-text button {
    width: fit-content;
}

.online-banking {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 450px;
    padding: 3rem 2rem 2rem 2rem;
}

.extra-info-link {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-signin {
    display: flex;
    gap: 1rem;
}

.extra-infolink-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line-extra-info {
    width: 100%;
    height: 1px;
    background-color: var(--dark-bg-color-24);
}

.info-icon {
    display: flex;
    justify-content: space-between;
}

/* Explore financing options section */
#finance-options .container.grid-6 {
    display: flex;
}

#finance-options .about-sec3-text {
    width: 50%;
}

#finance-options .about-sec3-img {
    width: 50%;
}

#finance-options .about-sec3-img img {
    width: 100%;
}


.about-sec3-text .title-icon {
    justify-content: flex-start;
}


/* Mobile app callout - Small businesses */
#mobile-app-section-small-business {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

#mobile-app-section-small-business .download-button {
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
}





/* SIGN UP PAGE */

/* Header page */
#sign-up-header {
    background-color: var(--dark-bg-color);
}

.container.signup {
    display: flex;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.vector-div {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

label {
    font-size: 1.125rem;
}

.input-style {
    background-color: var(--main-bg-color);
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

.input-group {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.text-link {
    font-weight: 700;
    color: var(--primary-color);
}

.button-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-redirect p {
    font-size: 1rem;
}



/* PERSONAL INFO PAGE */
.id-upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

select {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    color: var(--dark-text-color-80);
}

select:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}



/* MAIN DASHBOARD */

/* Left Dashboard Section */

.dashboard-navigation {
    background-color: var(--dark-bg-color);
    grid-column: 1/2;
    padding-top: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-main-logo {
    margin-left: auto;
    margin-right: auto;
}

.dashboard-nav-links {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Light Link */

.light-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    min-height: 3.5rem;
    align-items: center;
    background-color: var(--secondary-color); 
}

/* Dark Link */

.dark-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    min-height: 3.5rem;
    align-items: center;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

/* Dashboard Center */

.dashboard-center {
    grid-column: 2/6;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dash-center-first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-between;
    gap: 1.5rem;
    grid-row: 1;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.vertical-line {
    position: relative;
    width: 2px;
    height: 30px; 
    background-color: black; 
    margin: 0 20px;
}

.dash-center-second {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.center-dark-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 1rem;
    grid-column: 1/3;
}

.center-light-card1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    border-radius: 1rem;
    grid-column: 3/5;
}

.center-light-card2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    border-radius: 1rem;
    grid-column: 5/7;
}

.rcnt-transaction {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    min-height: 300px;
}

.rcnt-transaction-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    min-height: 200px;
    justify-content: center;
}

.rcnt-transaction-div p {
    text-align: center;
}

.rcnt-transaction-div > img {
    height: 3rem;
    width: 3rem;
}



/* Dashboard Right */

.dashboard-right {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    grid-column: 6/7;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dash-right-heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dash-right-balance {
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 150px;
    background-color: var(--light-text-color);
    border: 1px solid var(--dark-text-color);
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.dash-right-loans {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--light-text-color);
    border: 1px solid var(--dark-text-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin-top: 4rem;
}

#Description {
    height: 100px;
}

#dashboard {
    height: 100vh;
}


/* Transactions */

.dash-right-img {
    height: 500px;
    width: 100%;
    border-radius: 1rem;
    position: relative; 
    overflow: hidden; 
}

.dash-right-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0; 
}

.dashboard-right> h2 {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.trans-dark-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 1rem;
    grid-column: 1/4;
    grid-row: 1;
}

.trans-light-card1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    border-radius: 1rem;
    grid-column: 4/7;
    grid-row: 1;
}

.trans-light-card2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    border-radius: 1rem;
    grid-column: 1/4;
    grid-row: 2;
}

.trans-light-card3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 1rem;
    grid-column: 4/7;
    grid-row: 2;
}







/* DEPOSIT PAGE */
.dash-center-second.deposit .center-dark-card{
    grid-column: 1/4;
    gap: 3rem;
}

.dash-center-second.deposit .center-light-card1 {
    grid-column: 4/7;
    gap: 3rem;
}

.dash-center-second.deposit .center-light-card2 {
    grid-column: 1/4;
    gap: 3rem;
}

.dash-center-second.deposit .center-light-card3 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    border-radius: 1rem;
    grid-column: 4/7;
}

.ac-num {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.dashboard-right.deposit-page {
    height: 100vh;
    max-width: 400px;
    min-width: 300px;
    padding-top: 6rem;
}

.dash-right-img {
    background-color: #FFFFFF;

}

.dash-right-img img {
    width: 100%;
}

.dash-right-img h2 {
    font-size: 3rem;
    font-weight: 700;
}




/* WITHDRAWAL PAGE */
#withdraw-form-section {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.withdrawal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.withdrawable-amount .dash-right-balance {
    margin-top: 0;
    margin-bottom: 0;
}